<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.termix.ssc.ce.sharif.edu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:icon="@drawable/termix"
        android:label="@string/app_name"
        android:roundIcon="@drawable/termix_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Termix"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ServeForgetPasswordActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="57689843fba7.ngrok.io/test/ping"
                    android:pathPrefix="/api/user/forget_password/serve/" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPasswordRequestEmailActivity" />

        <receiver android:name=".CollectionWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="AUTO_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".LoadingActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <activity android:name=".LoginSignupActivity" />

        <activity android:name=".AccountVerificationActivity" />
    </application>

</manifest>